Date:


Link: https://www.khanacademy.org/math/statistics-probability/analysis-of-variance-anova-library/modal/v/anova-1-calculating-sst-total-sum-of-squares


Data:

# ANALYSIS OF VARIANCE (ANOVA)
### ECON345 lab01 
#### Date: 2018-11-07
#### Jun Duan

Bridge:

# Why ANOVA

![](http://napitupulu-jon.appspot.com/galleries/coursera-statistics/4w40.jpg)

In [13]:
library(tidyverse)
library(readxl)
# num_score = read

In [26]:
num_score = read_excel("2018-11-06_FSA_17_numeracy_4.xlsx", sheet = "FSA_17_numeracy_4",col_types = c("skip", "numeric", "guess","text", "text", "numeric"))

In [27]:
head(num_score)

  FSA_GRADE FSA_SKILL_NAME MINCODE_ATTRIB NEW_DISTRICT_NUMBER SCORE_PCT
1 4         Numeracy       501007.0       5.0                 60
2 4         Numeracy       501007.0       5.0                 74
3 4         Numeracy       501007.0       5.0                 67
4 4         Numeracy       501007.0       5.0                 45
5 4         Numeracy       501007.0       5.0                 50
6 4         Numeracy       501007.0       5.0                 52

In [29]:
library(stringr)

In [36]:
str(num_score)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	43319 obs. of  5 variables:
 $ FSA_GRADE          : num  4 4 4 4 4 4 4 4 4 4 ...
 $ FSA_SKILL_NAME     : chr  "Numeracy" "Numeracy" "Numeracy" "Numeracy" ...
 $ MINCODE_ATTRIB     : chr  "501007.0" "501007.0" "501007.0" "501007.0" ...
 $ NEW_DISTRICT_NUMBER: chr  "5.0" "5.0" "5.0" "5.0" ...
 $ SCORE_PCT          : num  60 74 67 45 50 52 57 69 52 48 ...

In [38]:
num_score$MINCODE_ATTRIB = str_sub(num_score$MINCODE_ATTRIB, end=-2)
num_score$NEW_DISTRICT_NUMBER = str_sub(num_score$NEW_DISTRICT_NUMBER, end=-2)

In [39]:
unique(num_score$NEW_DISTRICT_NUMBER)

 [1] "5."         "6."         "8."         "10."        "19."
 [6] "20."        "22."        "23."        "27."        "28."
[11] "33."        "34."        "35."        "36."        "37."
[16] "38."        "39."        "40."        "41."        "42."
[21] "43."        "44."        "45."        "46."        "47."
[26] "48."        "49."        "50."        "51."        "52."
[31] "53."        "54."        "57."        "58."        "59."
[36] "60."        "61."        "62."        "63."        "64."
[41] "67."        "68."        "69."        "70."        "71."
[46] "72."        "73."        "74."        "75."        "78."
[51] "79."        "81."        "82."        "83."        "84."
[56] "85."        "87."        "91."        "92."        "93."
[61] "INDEPENDEN"

In [22]:
# One Way Anova (Completely Randomized Design)
fit <- aov(SCORE_PCT ~ MINCODE_ATTRIB, data=num_score%>%filter(NEW_DISTRICT_NUMBER == 63))

In [40]:
sannich = num_score%>%filter(NEW_DISTRICT_NUMBER == 63)

Objectives:

# Intended Learning Outcome

- conduct ANOVA analysis
- interpret ANOVA results

Pre-assessment:

# Pre-assessment:

## Student's Numeracy Score 
|group1|group2|group3|
|--- |--- |--- |
|3|5|5|
|2|3|6|
|1|4|7|

- Do you know how to compute a mean for a group?

# Pre-assessment:

- Do you know how to compute a variance for a group of value?

# Pre-assessment:

- Do you know how to do a hypothesis test?

In [ ]:
Participatory learning:

# Participatory learning:

|group1|group2|group3|
|--- |--- |--- |
|3|5|5|
|2|3|6|
|1|4|7|

- Could you calculate the mean for each group?

# Student's Numeracy Score 
- $x_{im}$ is the numeracy score for student m in school i

- $N$ schools,  each school has $M$ students.

- $i$ is for school, $m$ for student

In [58]:
x = matrix( 
   c(3,2,1,5,3, 4, 5, 6, 7), 
   nrow=3, 
   ncol=3)
x = data.frame(x)


- School/Group mean:

$${{\bar{x}}_{i}}=\frac{1}{M}\sum\nolimits_{m}{{{x}_{im}}}$$

- Overall means:

$$\bar{x}=\frac{1}{NM}\sum\nolimits_{i}{\sum\nolimits_{m}{{{x}_{im}}}}$$

In [55]:
# column means School/Group mean:
x
colMeans(x)

  X1 X2 X3
1 3  5  5
2 2  3  6
3 1  4  7

X1 X2 X3
 2  4  6

$$\bar x_1 = 2$$
$$\bar x_2 = 4$$
$$\bar x_3 = 6$$

In [57]:
## Overall means:
mean(as.matrix(x))

[1] 4

$$\bar x = 4$$




- Sum of squares total (SST)/ Overall variation:
 - measure the total variability in the response variable
 - calculate very similarly to variance (except ot scaled by the sample size)

$$ SST = {{\sum\nolimits_{i}{\sum\nolimits_{m}{\left(
{{x}_{im}}-\bar{x} \right)}}}^{2}}$$

- Sum of squares groups (SSB)/Between variation: 
 - measure the variation between groups
 - explained variability: squared deviation of group means from overall mean, wighted by sample size.

$$SSB = {{\sum\nolimits_{i} M_i {\left({\bar{x}_{im}}-\bar{x}
\right)}}^{2}}$$

- sum of squares error (SSW)/Within variation:
 - measure the variability within groups
 - unexplained variability: unexplained by the group variable, due to other reasons
 

$$SSW = {{\sum\nolimits_{i}{\sum\nolimits_{m}{\left(
{{x}_{im}}-{{{\bar{x}}}_{i}}
\right)}}}^{2}}$$

- The overall variation can be decomposed into between variation and within variation:

$$SST\approx SSB+SSW$$

# Partitions of Variation
A between-subjects ANOVA partitions total variability into between-groups variability (SSb) and within-groups variability (SSw), as shown below:

![](https://statistics.laerd.com/statistical-guides/img/partition-ss-ind.png)

#  Mean squares

- from these measures of total variability to average variability
- scaling by a measure that incorporates sample sizes and number of groups →

## degrees of freedom
- Degrees of freedom associated with ANOVA:
 - total: $df_T = NM-1$
 - between group: $df_B = N-1$
 - within group/error: $df_W = df_T - df_B$

## Mean squares: 
Average variability between and within groups, calculated as the total variability (sum of squares) scaled by the associated degrees of freedom.
 - between group: $MSB = SSB/df_B$
 - within group/error: $MSW = SSW/df_W$

# F test statistics
In this design, within-group variability (SSw) is defined as the error variability (SSerror). Following division by the appropriate degrees of freedom, a mean sum of squares for between-groups (MSb) and within-groups (MSw) is determined and an F-statistic is calculated as the ratio of MSb to MSw (or MSerror), as shown below:




![](https://statistics.laerd.com/statistical-guides/img/f-statistic-anova.gif)

# F test statistics
The general form of writing the result of a one-way ANOVA is as follows:

![](https://statistics.laerd.com/statistical-guides/img/one-way-anova-3-small.png)

where df = degrees of freedom.

In [ ]:
Post-assessment:

# Post-assessment:

# How do I report the results of a one-way ANOVA?

## Structure of results:
|Source|SS|df|MS|F|Sig.|
|--- |--- |--- |--- |--- |--- |
|Between|SSb|k-1|MSb|MSb/MSw|p value|
|Within|SSw|N-k|MSw|||
|Total|SSb + SSw|N-1||||

## An example:
|Source|SS|df|MS|F|Sig.|
|--- |--- |--- |--- |--- |--- |
|Between|91.476|2|45.733|4.467|.021|
|Within|276.400|27|10.237|||
|Total|367.867|29||||

In [59]:
library(xtable)

In [60]:
xtable(summary(fit)) # display Type I ANOVA table

               Df  Sum Sq    Mean Sq    F value  Pr(>F)
MINCODE_ATTRIB   1  13993.36 13993.3645 20.86893 6.515469e-06
Residuals      410 274919.71   670.5359       NA           NA

In [ ]:
Summary:

# Summary:

- conduct ANOVA analysis
- interpret ANOVA results

In [ ]:
ANOVA 1: Calculating SST (total sum of squares)

In [6]:
library(rvest)

# To scrape a table from a website, the html_table() function can be a game-changer.
# But it doesn't give us the right output right away. 
URL2 <- "https://statistics.laerd.com/statistical-guides/one-way-anova-statistical-guide-3.php"

# TIP: When debugging or building your scraper, assign a variable to the raw HTML.
# That way you only have to read it once
anova_tables <- read_html(URL2) 

table <- anova_tables %>%
  html_nodes("table") %>%
  html_table(header=T)

# # You can clean up the table with the following code, or something like it. 
# # table[[1]]
# dict <- table[[1]][,1:2]
# accounts_df <- table[[1]][6:18,-1]

# names <- c('id', 'weight.pct', 'jan.2013', 'dec.2013', 'jan.2014', 'mo.pctch', 'yr.pctch', 'mo.cont', 'yr.cont')
# colnames(accounts_df) <- names

# accounts_df #%>% str()

In [8]:
table[1]

[[1]]
   Source        SS  df  MS       F    Sig.
1 Between       SSb k-1 MSb MSb/MSw p value
2  Within       SSw N-k MSw
3   Total SSb + SSw N-1

In [9]:
table[2]

[[1]]
   Source      SS df     MS     F  Sig.
1 Between  91.476  2 45.733 4.467 0.021
2  Within 276.400 27 10.237    NA    NA
3   Total 367.867 29     NA    NA    NA

# Thank you