# Distributionsm

## Data Types

### Categorical
#### Ordinal
### numerical
#### continuous
#### discrete

In [3]:
install.packages("dslabs")

Installing package into ‘/home/econ457uvic/R/x86_64-pc-linux-gnu-library/3.4’
(as ‘lib’ is unspecified)

In [4]:
library(dslabs)
data(heights)

In [5]:
names(heights)

[1] "sex"    "height"

In [7]:
head(heights)

  sex    height
1 Male   75
2 Male   70
3 Male   68
4 Male   74
5 Male   61
6 Female 65

sex is categorical
height numerical

In [8]:
x <- heights$height

length(unique(x))

[1] 139

Use the table function to compute the frequencies of each unique height value.

In [9]:
tab <-table(x)
tab

x
              50               51               52               53
               2                1                2                1
           53.77               54               55               58
               1                1                1                1
              59          59.0551 59.0551181102362 59.8425196850394
               6                1                2                1
              60               61            61.32 61.8110236220472
              17               12                1                2
              62 62.2047244094488             62.4             62.5
              19                3                1                2
62.5984251968504             62.6  62.992125984252               63
               1                1                3               31
63.3858267716535 63.7795275590551               64           64.173
               1                3               39                1
         64.1732 64.1732283464567             64.2             64.5
               1                1                2                2
64.5669291338583            64.57             64.9            64.96
               2                1                1                2
64.9606299212598           64.961               65  65.748031496063
               4                1               54                3
              66            66.14          66.1416          66.1417
              65                1                1                1
66.1417322834646             66.4             66.5 66.5354330708661
               4                1                3                4
            66.7            66.75             66.9            66.92
               1                1                1                2
         66.9291 66.9291338582677            66.93               67
               2               12                1               77
            67.2             67.3             67.5             67.7
               1                1                4                3
           67.71          67.7165 67.7165354330709            67.72
               2                2                7                3
           67.78               68            68.11          68.1102
               1               76                5                1
68.1102362204724         68.11024             68.4             68.5
               3                1                2                9
 68.503937007874             68.8            68.89          68.8976
               4                1                4                3
68.8976377952756       68.8976378             68.9               69
               5                1                3               83
           69.29 69.2913385826772             69.3             69.6
               2                2                2                2
69.6850393700787               70 70.0787401574803            70.08
               1               92                5                1
            70.1 70.4724409448819             70.5             70.8
               2                1                2                1
           70.85            70.86           70.866          70.8661
               1                1                1                1
70.8661417322835            70.87               71             71.5
               9                1               59                4
           71.65 71.6535433070866             71.7               72
               1                1                1               88
72.0472440944882            72.05             72.4            72.44
               3                2                1                4
72.4409448818898            72.45             72.5            72.83
               3                1                1                2
         72.8346 72.8346456692913               73             73.2
               2                2               23                2
           73.22 73.2283464566929            73.62               74
               2                1                1               30
            74.5             74.8 74.8031496062992               75
               1                1                2               22
            75.4 75.5905511811024             75.6            75.98
               1                1                1                1
              76               77          77.1654               78
               7                5                1                4
           78.74  78.740157480315               79            79.05
               1                1                2                1
              80               81 82.6771653543307
               2                1                1

In [10]:
tab <- table(heights$height)
sum(tab == 1)

[1] 63